.grid-container {
/* Container Height and width */
height: 600px;
width: 80%;
border: 1px solid #333;

background-color: #333;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
/*Cell-> Items Level Properties */
justify-items: stretch;
align-items: stretch;
/* Container-> cells Align */
justify-content: stretch;
align-content: stretch;
/* Gaps */
gap: 10px;
}
.grid-items {
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
border-radius: 5px;
font-size: 24px;
font-weight: bold;
}
.grid-item-1{
    grid-row: 1;
    grid-column: 1 / span 4;
    background-color: #08440b;
}
.grid-item-2{
    grid-column: 2/ span 4;
    grid-row: 2 ;
    background-color: #66BB6A;
}
.grid-item-3{
    grid-row: 2;
    grid-column: 2/ span 2;
    background-color: #FF5252;
}
.grid-item-4{
    grid-column: 2;
    grid-row: 2;
    background-color: #FFD740;
}
.grid-item-5{
    grid-column: 3;
    grid-row: 2;
    background-color: #FF5252;
}
.grid-item-6{
    grid-row: 4;
    grid-column: 1 / span 4;
    background-color: #66BB6A;
}